.cursor {
    box-sizing: border-box;
    width: 40px;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999999;
    transform-origin: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.cursor > div {
    mix-blend-mode: exclusion;
}
.cursor .cursor-follow {
    transform-origin: 50%;
}
.cursor svg {
    display: block;
    fill: none;
    stroke: #ff0000;
    stroke-width: 2;
    stroke-miterlimit: miter;
} 
/* ******************************************** */
body{
    margin: 0;
    padding: 0;
    background-color: rgba(241, 190, 156, 0.527);
}
body .section{
    height: 100vh;
}

.container{
    padding: 8px;
}
.title h1{
    font-family: 'Righteous', cursive;
}
.bloc_container h1{
    font-family: 'Righteous', cursive;
}
.bloc_saying h1{
    font-family: 'Righteous', cursive;
    font-weight: 300;
}
/* ******************************************* */

.nav{
    margin-left: auto;
    margin-right: 0px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: auto;
}
.nav li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.title .shamblen{
    font-size: 4em;
    font-weight: 300;
    text-align: right;
    margin-top: auto;
}
.title .amy{
    font-size: 4em;
    margin-top: -65px;
    font-weight: 300;
    text-align: right;
}

/* *************************************** */
/* .content {
    height: 100vh;
    margin-top: -30px;
} */
.dg{
    display: none;
}
.content {
    justify-content: flex-start;
	align-items: center;
    cursor: pointer;
    height: 50vh;
    /* width: 100%;
    height: 100vh;
    object-fit: cover; */
    margin-top: -30px;
    margin-bottom: 30px;
}
canvas{
    border-radius: 30px;
}
@media screen and (min-width: 53em){
    .content {
		height: 100vh;
		justify-content: center;
	}
}
#slider {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* ***************************************** */


.subtitle h1{
    font-family: 'Righteous', cursive;
}
/* .subtitle{
    margin-top: -40px;
} */
.subtitle .bespoke{
    font-size: 4em;
    margin-top: 0px;
    font-weight: 300;
    text-align: left;
    margin-top: auto;
}
.subtitle .photo{
    font-size: 4em;
    margin-top: -65px;
    font-weight: 300;
    text-align: left;
}
body .svg_line {
    margin-top: -42px;
    width: 95px;
    margin-left: 5px;
}
.subtitle .graphy{
    font-size: 4em;
    margin-top: -65px;
    margin-left: auto;
    font-weight: 300;
    text-align: right;
}
.subtitle .anima{
    font-size: 4em;
    margin-top: -65px;
    font-weight: 300;
    text-align: left;
}
.subtitle .tions{
    font-size: 4em;
    margin-top: -65px;
    font-weight: 300;
    text-align: right;
}

.bloc_graphy{
    display: flex;
}

.red{
    color: red;
}
/* *************************************** */

@media screen and (max-width: 999px){
    .cursor{
        display: none;
    }
    .bloc_text_one{
        display: none;
    }

    .display_blocks__xl_1, .display_blocks__xl_2, .display_blocks__xl_3{
        display: none;
    }
    .display_blocks__mobile_1, .display_blocks__mobile_2, .display_blocks__mobile_3{
        display: none;
    }
    .display_blocks__small_tel_1, .display_blocks__small_tel_2, .display_blocks__small_tel_3{
        display: none;
    }

    .bloccc{
        display: none;
    }
}

.bloc_text_one_mobile{
    margin-top: -50px;
    width: 350px;
    margin-left: auto;
}
.phraz_one_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#phraz_1_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.phraz_two_mobile {
    overflow: hidden;
    width: 100%;
    height: 22px;
}
#phraz_2_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.phraz_three_mobile {
    overflow: hidden;
    width: 100%;
    height: 22px;
}
#phraz_3_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.phraz_four_mobile {
    overflow: hidden;
    width: 100%;
    height: 22px;
}
#phraz_4_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.phraz_five_mobile {
    overflow: hidden;
    width: 100%;
    height: 20px;
}
#phraz_5_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}

/* YELLOW SECTION ******************************* */
.bloc_text_two{
    display: none;
}
.container .yellow_bloc{
    background-color: #FED701;
    min-width: 100%;
    border-radius: 30px;
    /* margin-left: -25px;
    margin-right: -25px; */

    margin-top: 320px;
    padding-bottom: 50px;
    /* height: 220vh; */
}
.container .bloc_container{
    width: 310px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.yellow_phraz_one_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_1_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.yellow_phraz_two_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_2_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.yellow_phraz_three_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_3_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.yellow_phraz_four_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_4_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.yellow_phraz_five_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_5_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.yellow_phraz_six_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_6_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.yellow_phraz_seven_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_7_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.yellow_phraz_eight_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_8_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.yellow_phraz_nine_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_9_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.yellow_phraz_ten_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_10_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}
.yellow_phraz_eleven_mobile {
    overflow: hidden;
    width: 100%;
    height: 23px;
}
#yellow_phraz_11_mobile{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    justify-content: space-between;
    font-size: 1.2em; 
    color: #000000;
    margin-top: 0px;
}

.bloc_view_collection{
    margin-top: -70px;
}
.view{
    font-size: 8em;

}
.col{
    font-size: 8em;
    margin-top: -140px;
}
.lec{
    font-size: 8em;
    margin-top: -140px;
    margin-left: auto;
}
.bloc_lec{
    display: flex;
}
body .svg_line_2{
    margin-top: -75px;
    width: 60px;
    margin-left: auto;
}
.tio{
    font-size: 8em;
    margin-top: -140px;
    text-align: left;
}
.bloc_tio{
    display: flex;
}
body .svg_line_3{
    margin-top: -75px;
    margin-left: auto;
    margin-right: 0px;
    width: 90px;
}
.ns{
    font-size: 8em;
    margin-top: -140px;
    text-align: right;
    margin-bottom: 0;
}

body .arrow{
    margin-top: -20px;
    margin-left: 30px;
    width: 250px;
}

/* **************************************** */
.display_blocks__tel_1, .display_blocks__tel_2, .display_blocks__tel_3{
    display: flex;
    justify-content: center;
    z-index: 350;
}
.display_blocks__tel_1{
    margin-top: 0px;
}
    
/* .o-container-img_3 {
    margin-left: 0px;
    z-index: -2;
}
.o-img_line_3 img{
    border-radius: 30px;
    width: 150px;
    margin-top: 0px;
}
.o-img_3 {
    margin: 0;
    padding: 20px;
    perspective: -60px;
    -webkit-perspective: -60px;
}
.o-img_line_3 {
    display: block;
    opacity: 0;
    transform-style: preserve-3d;
    transform: translateY(100%) rotateY(-90deg);
    transition: opacity 3.8s cubic-bezier(0.215, 0.61, 0.355, 1),
      transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-align: center;
}
.o-img_3.is-inview .o-img_line_3 {
    transform: none;
    opacity: 1;
}
.o-img_3.is-inview .o-img_line_3:first-child {
    transition-delay: .6s;
}
.o-img_3.is-inview .o-img_line_3:first-child(2) {
    transition-delay: .6s;
}
.o-img_line_3 span {
    display: inline-block;
}





.o-container-img_4 {
    margin-left: 0px;
    z-index: -2;
}
.o-img_line_4 img{
    border-radius: 30px;
    width: 150px;
    margin-top: 0px;
}
.o-img_4 {
    margin: 0;
    padding: 20px;
    perspective: -60px;
    -webkit-perspective: -60px;
}
.o-img_line_4 {
    display: block;
    opacity: 0;
    transform-style: preserve-3d;
    transform: translateY(100%) rotateY(-90deg);
    transition: opacity 3.8s cubic-bezier(0.215, 0.61, 0.355, 1),
      transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-align: center;
}
.o-img_4.is-inview .o-img_line_4 {
    transform: none;
    opacity: 1;
}
.o-img_4.is-inview .o-img_line_4:first-child {
    transition-delay: .6s;
}
.o-img_4.is-inview .o-img_line_4:first-child(2) {
    transition-delay: .6s;
}
.o-img_line_4 span {
    display: inline-block;
}



.o-container-img_5 {
    margin-left: 0px;
    z-index: -2;
}
.o-img_line_5 img{
    border-radius: 30px;
    width: 150px;
    margin-top: 0px;
}
.o-img_5 {
    margin: 0;
    padding: 20px;
    perspective: -60px;
    -webkit-perspective: -60px;
}
.o-img_line_5 {
    display: block;
    opacity: 0;
    transform-style: preserve-3d;
    transform: translateY(100%) rotateY(-90deg);
    transition: opacity 3.8s cubic-bezier(0.215, 0.61, 0.355, 1),
      transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-align: center;
}
.o-img_5.is-inview .o-img_line_5 {
    transform: none;
    opacity: 1;
}
.o-img_5.is-inview .o-img_line_5:first-child {
    transition-delay: .6s;
}
.o-img_5.is-inview .o-img_line_5:first-child(2) {
    transition-delay: .6s;
}
.o-img_line_5 span {
    display: inline-block;
} */
/* ***************** */



.blocks__tel{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.blocks__tel_2{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
.blocks__tel_3{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.block_1__tel{
    background-image: url('./images/5.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 20px;
}
.block_2__tel{
    background-image: url('./images/6.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 20px;
}
.block_3__tel{
    background-image: url('./images/7.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 20px;
}
.block_4__tel{
    background-image: url('./images/8.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 20px;
}
.block_5__tel{
    background-image: url('./images/9.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 20px;
}
.block_6__tel{
    background-image: url('./images/10.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin: 15px;
    border-radius: 20px;
}

.line_tel{
    overflow: hidden;
    margin-top: 70px;
}
.display_blocks__tel_1 .main-text p{
    overflow: hidden;
}
.display_blocks__tel_2 .main-text p{
    overflow: hidden;
}
.display_blocks__tel_3 .main-text p{
    overflow: hidden;
}
a{
    text-decoration: none;
    color: #2b2a2a;
}
.text_block_tel_1{
    display: flex;
    justify-content: space-evenly;
    margin-top: -15px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}
.text_block_tel_2{
    display: flex;
    justify-content: space-evenly;
    margin-top: -15px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}
.text_block_tel_3{
    display: flex;
    justify-content: space-evenly;
    margin-top: -15px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}
/* **************************************** */
.bloc_saying{
    text-align: right;
}
.what{
    font-size: 4em;
    margin-top: 0px;
}
.client{
    font-size: 4em;
    margin-top: -65px;
}
.are{
    font-size: 4em;
    margin-top: -65px;
}
.say{
    font-size: 4em;
    margin-top: -65px;
}
/* **************************************** */
#btn{
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
button {
    margin: 0px;
    
}
.custom-btn {
    width: 150px;
    height: 60px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    background: rgb(248, 203, 3);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn_1 {
    /* background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%); */
    background: rgb(255, 0, 0);
    background: linear-gradient(0deg, rgba(255, 0, 0,1) 0%, rgb(255, 62, 59) 100%);
    border: none;
    
}
.btn_1:before {
    height: 0%;
    width: 2px;
}
.btn_1:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* ********************************************* */

body .clients_container{
    height: 150vh;
}
.card_one{
    width: 350px;
    height: 240px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.card_two{
    width: 350px;
    height: 240px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.card_three{
    width: 350px;
    height: 240px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.avi{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: white;
}
.autor{
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 30px;
}




















@media all and (min-width: 100px) and (max-width: 359px){
    body .section{
        height: 100vh;
    }
    .nav{
        font-size: 0.9em;
    }
    .nav ul{
        width: 260px;
        margin-left: auto;
    }
    .title .shamblen, .title .amy{
        font-size: 3em;
    }
    .title .amy{
        margin-top: -55px;
    }
    .subtitle .bespoke{
        font-size: 3em;
    }
    .subtitle .photo, .subtitle .graphy, .subtitle .anima, .subtitle .tions{
        font-size: 3em;
        margin-top: -55px;
    }
    body .svg_line {
        margin-top: -43px;
        width: 70px;
        margin-left: 25px;
    }
    .bloc_text_one_mobile{
        font-size: 0.9em;
        width: 300px;
        margin-top: -20px;
    }
    .container .bloc_container{
        font-size: 0.9em;
        width: 300px;
    }
    .container .yellow_bloc{
        margin-left: 0;
        margin-right: 0;
        border-radius: 30px;
    }
    .view{
        font-size: 7em;

    }
    .col{
        font-size: 7em;
        margin-top: -110px;
    }
    .lec{
        font-size: 7em;
        margin-top: -110px;
        /* text-align: right; */
        margin-left: auto;
    }
    body .svg_line_2{
        margin-top: -65px;
        width: 50px;
        margin-left: auto;
    }
    .tio{
        font-size: 7em;
        margin-top: -110px;
        text-align: left;
    }
    body .svg_line_3{
        margin-top: -65px;
        margin-left: auto;
        margin-right: 30px;
        width: 80px;
    }
    .ns{
        font-size: 7em;
        margin-top: -110px;
        text-align: right;
        margin-bottom: 0;
    }

    body .arrow{
        margin-top: -20px;
        margin-left: 30px;
        width: 250px;
    }
    body .clients_container{
        height: 200vh;
    }
    .what{
        font-size: 3em;
        margin-top: 0px;
    }
    .client{
        font-size: 3em;
        margin-top: -55px;
    }
    .are{
        font-size: 3em;
        margin-top: -55px;
    }
    .say{
        font-size: 3em;
        margin-top: -55px;
    }

    .card_one, .card_two, .card_three{
        width: 300px;
    }
}
















@media screen and (min-width: 600px){
    body .section{
        height: 100vh;
    }
    .nav{
        font-size: 0.9em;
    }
    .nav ul{
        width: 260px;
        margin-left: auto;
    }
    .title .shamblen, .title .amy{
        font-size: 7em;
    }
    .title .amy{
        margin-top: -125px;
    }
    /* .subtitle{
        margin-bottom: 250px;
    } */
    .subtitle .bespoke{
        font-size: 7em;
    }
    .subtitle .photo, .subtitle .graphy, .subtitle .anima, .subtitle .tions{
        font-size: 7em;
        margin-top: -125px;
    }
    body .svg_line {
        margin-top: -70px;
        width: 140px;
        margin-left: 150px;
    }
    .bloc_text_one_mobile{
        font-size: 0.9em;
        width: 300px;
        margin-top: -70px;
        margin-left: auto;
        margin-right: 20px;
    }
    .container .bloc_container{
        font-size: 0.9em;
        width: 300px;
    }
    .container .yellow_bloc{
        margin-top: 620px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 30px;
    }
    .view{
        font-size: 10em;

    }
    .col{
        font-size: 10em;
        margin-top: -150px;
    }
    .lec{
        font-size: 10em;
        margin-top: -150px;
        /* text-align: right; */
        margin-left: auto;
    }
    body .svg_line_2{
        margin-top: -75px;
        width: 40px;
        margin-left: auto;
    }
    .tio{
        font-size: 10em;
        margin-top: -150px;
        text-align: left;
    }
    body .svg_line_3{
        margin-top: -75px;
        margin-left: 0px;
        width: 90px;
    }
    .ns{
        font-size: 10em;
        margin-top: -150px;
        text-align: right;
        margin-bottom: 0;
    }

    body .arrow{
        margin-top: -20px;
        margin-left: 30px;
        width: 250px;
    }

    .text_block_tel_1, .text_block_tel_2, .text_block_tel_3{
        justify-content: center;
    }
    /* .dunkin{
        margin-right: 40px;
    }
    .happy{
        margin-left: 40px;
    } */
    .o-img_line_3 img{
        width: 300px;
    }
    .o-img_line_4 img{
        width: 300px;
    }

    body .clients_container{
        height: 150vh;
    }
    .what{
        font-size: 7em;
        margin-top: 0px;
    }
    .client{
        font-size: 7em;
        margin-top: -120px;
    }
    .are{
        font-size: 7em;
        margin-top: -120px;
    }
    .say{
        font-size: 7em;
        margin-top: -120px;
    }

    /* .bloc_cards{
        display: flex;
    } */
    .card_one, .card_two, .card_three{
        width: 300px;
    }
}











@media screen and (min-width: 1000px){
    .content {
        display: none;
    }
    body .section{
        height: 300vh;
    }
    .nav{
        font-size: 0.9em;
    }
    .nav ul{
        width: 350px;
        margin-left: auto;
        margin-right: 20px;
    }
    .title .shamblen, .title .amy{
        font-size: 11em;
    }
    .title .amy{
        margin-top: -195px;
    }
    .title{
        margin-bottom: -100px;
        margin-right: 20px;
    }
    
    /* ******************** */
    .bloccc{
        display: flex;
        margin-top: -100px;
        justify-content: space-evenly;
    }
    .o-container-img {
        z-index: -1;
    }
    .o-img_line img{
        border-radius: 30px;
        width: 300px;
        margin-top: -200px;
    }
    .o-img {
        margin: 0;
        padding: 20px;
        perspective: -600px;
        -webkit-perspective: -600px;
    }
    .o-img_line {
        display: block;
        opacity: 0;
        /* transform-origin: center top; */
        transform-style: preserve-3d;
        transform: translateY(100%) rotateY(-90deg);
        transition: opacity 2.8s cubic-bezier(0.215, 0.61, 0.355, 1),
          transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
        text-align: center;
    }
    .o-img.is-inview .o-img_line {
        transform: none;
        opacity: 1;
    }
    .o-img .o-img_line:first-child {
        transition-delay: .6s;
    }
    .o-img_line span {
        display: inline-block;
    }


    .o-container-img_1 {
        /* margin-right: auto; */
        margin-left: -150px;
        z-index: -2;
    }
    .o-img_line_1 img{
        border-radius: 30px;
        width: 350px;
        margin-top: -100px;
    }
    .o-img_1 {
        margin: 0;
        padding: 20px;
        perspective: -600px;
        -webkit-perspective: -600px;
    }
    .o-img_line_1 {
        display: block;
        opacity: 0;
        /* transform-origin: center top; */
        transform-style: preserve-3d;
        transform: translateY(100%) rotateY(-90deg);
        transition: opacity 3.8s cubic-bezier(0.215, 0.61, 0.355, 1),
          transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
        text-align: center;
    }
    .o-img_1.is-inview .o-img_line_1 {
        transform: none;
        opacity: 1;
    }
    .o-img_1.is-inview .o-img_line_1:first-child {
        transition-delay: .6s;
    }
    .o-img_1.is-inview .o-img_line_1:first-child(2) {
        transition-delay: .6s;
    }
    .o-img_line_1 span {
        display: inline-block;
    }


    .o-container-img_2 {
        /* margin-right: auto; */
        margin-left: -150px;
        z-index: -2;
    }
    .o-img_line_2 img{
        border-radius: 30px;
        width: 250px;
        margin-top: -100px;
    }
    .o-img_2 {
        margin: 0;
        padding: 20px;
        perspective: -600px;
        -webkit-perspective: -600px;
    }
    .o-img_line_2 {
        display: block;
        opacity: 0;
        /* transform-origin: center top; */
        transform-style: preserve-3d;
        transform: translateY(100%) rotateY(-90deg);
        transition: opacity 3.8s cubic-bezier(0.215, 0.61, 0.355, 1),
          transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
        text-align: center;
    }
    .o-img_2.is-inview .o-img_line_2 {
        transform: none;
        opacity: 1;
    }
    .o-img_2.is-inview .o-img_line_2:first-child {
        transition-delay: .6s;
    }
    .o-img_2.is-inview .o-img_line_2:first-child(2) {
        transition-delay: .6s;
    }
    .o-img_line_2 span {
        display: inline-block;
    }
    /* ***************** */

    .subtitle {
        margin-left: 100px;
        margin-right: 100px;
    }
    .subtitle .bespoke{
        font-size: 11em;
    }
    .subtitle .photo, .subtitle .graphy, .subtitle .anima, .subtitle .tions{
        font-size: 11em;
        margin-top: -195px;
    }
    body .svg_line {
        margin-top: -100px;
        width: 180px;
        margin-left: 0px;
    }

    .container .bloc_container{
        font-size: 0.9em;
        width: 300px;
    }

    .bloc_text_one_mobile{
        display: none;
    }
    .bloc_text_one{
        margin-top: -130px;
        width: 500px;
        margin-left: auto;
    }
    .phraz_one {
        overflow: hidden;
        width: 100%;
        height: 25px;
    }
    #phraz_1{
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        justify-content: space-between;
        font-size: 1.3em; 
        color: #000000;
        margin-top: 0px;
    }
    .phraz_two {
        overflow: hidden;
        width: 100%;
        height: 25px;
    }
    #phraz_2{
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 1.3em; 
        color: #000000;
        margin-top: 0px;
    }
    .phraz_three {
        overflow: hidden;
        width: 100%;
        height: 25px;
    }
    #phraz_3{
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 1.3em; 
        color: #000000;
        margin-top: 0px;
    }
    .phraz_four {
        overflow: hidden;
        width: 100%;
        height: 24px;
    }
    #phraz_4{
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 1.3em; 
        color: #000000;
        margin-top: 0px;
    }
    
    .container .yellow_bloc{
        margin-top: -500px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 30px;
    }
    .view{
        font-size: 10em;

    }
    .col{
        font-size: 10em;
        margin-top: -150px;
    }
    .lec{
        font-size: 10em;
        margin-top: -150px;
        /* text-align: right; */
        margin-left: auto;
    }
    body .svg_line_2{
        margin-top: -75px;
        width: 40px;
        margin-left: auto;
    }
    .tio{
        font-size: 10em;
        margin-top: -150px;
        text-align: left;
    }
    body .svg_line_3{
        margin-top: -75px;
        margin-left: 0px;
        width: 90px;
    }
    .ns{
        font-size: 10em;
        margin-top: -150px;
        text-align: right;
        margin-bottom: 0;
    }

    body .arrow{
        margin-top: -20px;
        margin-left: 30px;
        width: 250px;
    }

    .display_blocks__mobile_1, .display_blocks__mobile_2, .display_blocks__mobile_3{
        display: none;
    }
    .display_blocks__tel_1, .display_blocks__tel_2, .display_blocks__tel_3{
        display: none;
    }
    .display_blocks__small_tel_1, .display_blocks__small_tel_2, .display_blocks__small_tel_3{
        display: none;
    }

    .display_blocks__xl_1, .display_blocks__xl_2{
        display: flex;
        justify-content: center;
    }
    .display_blocks__xl_1{
        margin-top: 100px;
    }
        
    .o-container-img_3 {
        /* margin-right: auto; */
        margin-left: 0px;
        z-index: -2;
    }
    .o-img_line_3 img{
        border-radius: 30px;
        width: 250px;
        margin-top: 0px;
    }
    .o-img_3 {
        margin: 0;
        padding: 20px;
        perspective: -600px;
        -webkit-perspective: -600px;
    }
    .o-img_line_3 {
        display: block;
        opacity: 0;
        /* transform-origin: center top; */
        transform-style: preserve-3d;
        transform: translateY(100%) rotateY(-90deg);
        transition: opacity 3.8s cubic-bezier(0.215, 0.61, 0.355, 1),
          transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
        text-align: center;
    }
    .o-img_3.is-inview .o-img_line_3 {
        transform: none;
        opacity: 1;
    }
    .o-img_3.is-inview .o-img_line_3:first-child {
        transition-delay: .6s;
    }
    .o-img_3.is-inview .o-img_line_3:first-child(2) {
        transition-delay: .6s;
    }
    .o-img_line_3 span {
        display: inline-block;
    }
    
    
    
    
    
    .o-container-img_4 {
        /* margin-right: auto; */
        margin-left: 0px;
        z-index: -2;
    }
    .o-img_line_4 img{
        border-radius: 30px;
        width: 250px;
        margin-top: 0px;
    }
    .o-img_4 {
        margin: 0;
        padding: 20px;
        perspective: -600px;
        -webkit-perspective: -600px;
    }
    .o-img_line_4 {
        display: block;
        opacity: 0;
        /* transform-origin: center top; */
        transform-style: preserve-3d;
        transform: translateY(100%) rotateY(-90deg);
        transition: opacity 3.8s cubic-bezier(0.215, 0.61, 0.355, 1),
          transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
        text-align: center;
    }
    .o-img_4.is-inview .o-img_line_4 {
        transform: none;
        opacity: 1;
    }
    .o-img_4.is-inview .o-img_line_4:first-child {
        transition-delay: .6s;
    }
    .o-img_4.is-inview .o-img_line_4:first-child(2) {
        transition-delay: .6s;
    }
    .o-img_line_4 span {
        display: inline-block;
    }



    .o-container-img_5 {
        margin-left: 0px;
        z-index: -2;
    }
    .o-img_line_5 img{
        border-radius: 30px;
        width: 250px;
        margin-top: 0px;
    }
    .o-img_5 {
        margin: 0;
        padding: 20px;
        perspective: -600px;
        -webkit-perspective: -600px;
    }
    .o-img_line_5 {
        display: block;
        opacity: 0;
        /* transform-origin: center top; */
        transform-style: preserve-3d;
        transform: translateY(100%) rotateY(-90deg);
        transition: opacity 3.8s cubic-bezier(0.215, 0.61, 0.355, 1),
          transform 1.8s cubic-bezier(0.215, 0.61, 0.355, 1);
        text-align: center;
    }
    .o-img_5.is-inview .o-img_line_5 {
        transform: none;
        opacity: 1;
    }
    .o-img_5.is-inview .o-img_line_5:first-child {
        transition-delay: .6s;
    }
    .o-img_5.is-inview .o-img_line_5:first-child(2) {
        transition-delay: .6s;
    }
    .o-img_line_5 span {
        display: inline-block;
    }
    /* ***************** */



    /* .blocks__xl{
        display: flex;
        justify-content: center;
        margin-top: -50px;
    }
    .blocks__xl_2{
        display: flex;
        justify-content: center;
        margin-top: -20px;
    }

    .block_1__xl{
        background-image: url('./images/1.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 250px;
        height: 250px;
        margin: 15px;
        border-radius: 50px;
    }
    .block_2__xl{
        background-image: url('./images/2.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 250px;
        height: 250px;
        margin: 15px;
        border-radius: 50px;
    }
    .block_3__xl{
        background-image: url('./images/3.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 250px;
        height: 250px;
        margin: 15px;
        border-radius: 50px;
    }
    .block_4__xl{
        background-image: url('./images/4.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 250px;
        height: 250px;
        margin: 15px;
        border-radius: 50px;
    }
    .block_5__xl{
        background-image: url('./images/5.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 250px;
        height: 250px;
        margin: 15px;
        border-radius: 50px;
    }
    .block_6__xl{
        background-image: url('./images/6.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 250px;
        height: 250px;
        margin: 15px;
        border-radius: 50px;
    }

    .line{
        overflow: hidden;
    }
    .display_blocks__xl_1 .main-text p{
        overflow: hidden;
    } */

    a{
        text-decoration: none;
        color: #2b2a2a;
    }
    .text_block_xl_1{
        display: flex;
        justify-content: space-evenly;
        margin-top: 180px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4em;
        font-weight: bold;
    }
    .text_block_xl_2{
        display: flex;
        justify-content: space-evenly;
        margin-top: 180px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4em;
        font-weight: bold;
    }
    /* **************************************** */
    .dunkin{
        margin-right: 40px;
    }
    .happy{
        margin-left: 40px;
    }

    body .clients_container{
        height: 150vh;
    }
    .what{
        font-size: 11em;
        margin-top: 0px;
    }
    .client{
        font-size: 11em;
        margin-top: -195px;
    }
    .are{
        font-size: 11em;
        margin-top: -195px;
    }
    .say{
        font-size: 11em;
        margin-top: -195px;
    }

    .bloc_cards{
        display: flex;
        margin-top: -50px;
    }
    .card_one, .card_two, .card_three{
        width: 300px;
    }
}














@media screen and (min-width: 1200px){
    body .section{
        height: 340vh;
    }
    .nav{
        font-size: 1.2em;

    }
    .nav ul{
        width: 400px;
        /* margin-left: auto; */
        margin-right: 100px;
        
    }
    .title .shamblen, .title .amy{
        font-size: 13em;
        text-align: right;
        margin-right: 100px;
    }
    .title .amy{
        margin-top: -230px;
    }
    .title{
        margin-top: 0px;
        margin-bottom: -120px;
        margin-right: 10px;
    }
    .bloccc{
        margin-top: -200px;
    }
    .o-img_line img{
        width: 300px;
        margin-top: -100px;
    }
    .o-img_line_1 img{
        width: 600px;
    }
    .o-img_line_2 img{
        width: 250px;
        margin-top: 50px;
    }
    /* .content{
        width: 50%;
        margin: auto;
    } */
    .subtitle .bespoke{
        font-size: 14em;
    }
    .subtitle .photo, .subtitle .graphy, .subtitle .anima, .subtitle .tions{
        font-size: 14em;
        margin-top: -255px;
    }
    body .svg_line {
        margin-top: -120px;
        width: 250px;
        margin-left: 100px;
    }

    .container .bloc_container{
        font-size: 0.9em;
        width: 300px;
    }

    .bloc_text_one_mobile{
        display: none;
    }
    .bloc_text_one{
        margin-top: -170px;
        width: 600px;
        margin-left: auto;
    }
    .phraz_one {
        overflow: hidden;
        width: 100%;
        height: 27px;
    }
    #phraz_1{
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        justify-content: space-between;
        font-size: 1.45em; 
        color: #000000;
        margin-top: 0px;
    }
    .phraz_two {
        overflow: hidden;
        width: 100%;
        height: 27px;
    }
    #phraz_2{
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 1.45em; 
        color: #000000;
        margin-top: 0px;
    }
    .phraz_three {
        overflow: hidden;
        width: 100%;
        height: 27px;
    }
    #phraz_3{
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 1.45em; 
        color: #000000;
        margin-top: 0px;
    }
    .phraz_four {
        overflow: hidden;
        width: 100%;
        height: 26px;
    }
    #phraz_4{
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 1.45em; 
        color: #000000;
        margin-top: 0px;
    }
    
    .container .yellow_bloc{
        margin-top: -500px;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 30px;
    }

    .container .bloc_container{
        width: 450px;
    }

    .yellow_phraz_one_mobile {
        overflow: hidden;
        width: 100%;
        height: 30px;
    }
    #yellow_phraz_1_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }
    .yellow_phraz_two_mobile {
        overflow: hidden;
        width: 100%;
        height: 31px;
    }
    #yellow_phraz_2_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }
    .yellow_phraz_three_mobile {
        overflow: hidden;
        width: 100%;
        height: 32px;
    }
    #yellow_phraz_3_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }
    .yellow_phraz_four_mobile {
        overflow: hidden;
        width: 100%;
        height: 32px;
    }
    #yellow_phraz_4_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }
    .yellow_phraz_five_mobile {
        overflow: hidden;
        width: 100%;
        height: 32px;
    }
    #yellow_phraz_5_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }
    .yellow_phraz_six_mobile {
        overflow: hidden;
        width: 100%;
        height: 31px;
    }
    #yellow_phraz_6_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }
    .yellow_phraz_seven_mobile {
        overflow: hidden;
        width: 100%;
        height: 31px;
    }
    #yellow_phraz_7_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }
    .yellow_phraz_eight_mobile {
        overflow: hidden;
        width: 100%;
        height: 31px;
    }
    #yellow_phraz_8_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }
    .yellow_phraz_nine_mobile {
        overflow: hidden;
        width: 100%;
        height: 31px;
    }
    #yellow_phraz_9_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }
    .yellow_phraz_ten_mobile {
        overflow: hidden;
        width: 100%;
        height: 31px;
    }
    #yellow_phraz_10_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }
    .yellow_phraz_eleven_mobile {
        overflow: hidden;
        width: 100%;
        height: 30px;
    }
    #yellow_phraz_11_mobile{
        font-size: 1.9em; 
        margin-top: 0px;
    }

    .view{
        font-size: 13em;
        margin-top: 50px;

    }
    .col{
        font-size: 13em;
        margin-top: -200px;
    }
    .lec{
        font-size: 13em;
        margin-top: -200px;
        /* text-align: right; */
        margin-left: auto;
    }
    body .svg_line_2{
        margin-top: -100px;
        width: 80px;
        margin-left: auto;
    }
    .tio{
        font-size: 13em;
        margin-top: -200px;
        text-align: left;
    }
    body .svg_line_3{
        margin-top: -100px;
        margin-left: 30px;
        width: 120px;
    }
    .ns{
        font-size: 13em;
        margin-top: -200px;
        text-align: right;
        margin-bottom: 0;
    }

    body .arrow{
        margin-top: -20px;
        margin-left: 110px;
        width: 250px;
    }

    .text_block_tel_1, .text_block_tel_2, .text_block_tel_3{
        font-size: 1.3em;
        justify-content: center;
        margin-top: 0px;
    }
    .dunkin{
        margin-right: 40px;
    }
    .happy{
        margin-left: 40px;
    }

    body .clients_container{
        height: 150vh;
    }
    .what{
        font-size: 14em;
        margin-top: 0px;
    }
    .client{
        font-size: 14em;
        margin-top: -250px;
    }
    .are{
        font-size: 14em;
        margin-top: -250px;
    }
    .say{
        font-size: 14em;
        margin-top: -250px;
    }

    .bloc_cards{
        display: flex;
        margin-top: -50px;
    }
    .card_one, .card_two, .card_three{
        width: 300px;
    }
}











@media screen and (min-width: 1320px){

}



