body{
    margin: 0;
    padding: 0;
}
.container{
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgba(130, 162, 190, 0.322); */
}

.section{
    height: 160vh;
}
/* ******************************************** */

.cursor {
    box-sizing: border-box;
    width: 40px;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999999;
    transform-origin: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.cursor > div {
    mix-blend-mode: exclusion;
}
.cursor .cursor-follow {
    transform-origin: 50%;
}
.cursor svg {
    display: block;
    fill: none;
    stroke: #33ff00;
    stroke-width: 2;
    stroke-miterlimit: miter;
}

/* ******************************************** */

.nav{
    /* width: 400px; */
    margin-left: auto;
    margin-right: 0px;
}
.nav ul{
    display: flex;
    justify-content: space-between;
}
.nav li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
/* ******************************************** */

.title h1{
    font-family: 'Righteous', cursive;
}
/* .shamblen .letter {
	display: inline-block;
	line-height: 1em;
} */
.shamblen{
    /* font-size: 14em; */
    font-weight: 300;
    text-align: right;
    margin-top: auto;
}
.amy{
    /* font-size: 14em; */
    font-weight: 300;
    text-align: right;
    /* margin-top: -250px; */
}


/* ********************************************* */

.dg{
    display: none;
}
.content {
    justify-content: flex-start;
	align-items: center;
    cursor: pointer;
    /* margin-top: -170px; */
}
@media screen and (min-width: 53em){
    .content {
		height: 100vh;
		justify-content: center;
	}
}

#slider {
	/* position: fixed; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* ***************************************** */

.subtitle h1{
    font-family: 'Righteous', cursive;

}
.bespoke{
    /* font-size: 14em; */
    font-weight: 300;
    text-align: left;
    margin-top: auto;
}
.photo{
    /* font-size: 14em; */
    font-weight: 300;
    text-align: left;
    /* margin-top: -250px; */
}
.bloc_graphy{
    display: flex;
}
.graphy{
    /* font-size: 14em; */
    font-weight: 300;
    text-align: right;
    /* margin-top: -250px; */
}
/* .svg_line  {
    margin-top: -120px;
} */
.anima{
    /* font-size: 14em; */
    font-weight: 300;
    text-align: left;
    /* margin-top: -250px; */
}
.tions{
    /* font-size: 14em; */
    font-weight: 300;
    text-align: right;
    /* margin-top: -250px; */
}
.red{
    color: red;
}


/* MEDIA QUERIES ************************************ 
*****************************************************
*****************************************************/
@media screen and (max-width: 360px){
    .container{
        width: 340px;
    }
    .nav{
        width: 250px;
        margin-left: auto;
        margin-right: 90px;
    }
    .subtitle{
        margin-top: -30px;
    }
}
@media screen and (max-width: 375px){
    body .section{
        height: 80vh;
    }
    .container{
        max-width: 360px;
    }
    .nav ul{
        width: 300px;
        margin-left: auto;
        margin-right: 40px;
    }
    .title .shamblen{
        font-size: 4em;
    }
    .title .amy{
        font-size: 4em;
        margin-top: -65px;
    }
    .content {
        /* display: none; */
        height: 50vh;
        margin-top: -30px;
    }
    .subtitle{
        margin-top: -40px;
    }
    .subtitle .bespoke{
        font-size: 4em;
        margin-top: 0px;
    }
    .subtitle .photo{
        font-size: 4em;
        margin-top: -65px;
    }
    body .svg_line {
        margin-top: -42px;
        width: 95px;
        margin-left: 5px;
    }
    .subtitle .graphy{
        font-size: 4em;
        margin-top: -65px;
        margin-left: auto;
    }
    .subtitle .anima{
        font-size: 4em;
        margin-top: -65px;
    }
    .subtitle .tions{
        font-size: 4em;
        margin-top: -65px;
    }
}
@media screen and (min-width: 376px){
    body .section{
        height: 80vh;
    }
    .container{
        max-width: 370px;
    }
    .nav ul{
        width: 300px;
        margin-left: auto;
        margin-right: 40px;
    }
    .title .shamblen{
        font-size: 4em;
    }
    .title .amy{
        font-size: 4em;
        margin-top: -65px;
    }
    .content {
        /* display: none; */
        height: 50vh;
        margin-top: -30px;
    }
    .subtitle{
        margin-top: 0px;
    }
    .subtitle .bespoke{
        font-size: 4em;
        margin-top: 0px;
    }
    .subtitle .photo{
        font-size: 4em;
        margin-top: -65px;
    }
    body .svg_line {
        margin-top: -42px;
        width: 95px;
        margin-left: 5px;
    }
    .subtitle .graphy{
        font-size: 4em;
        margin-top: -65px;
        margin-left: auto;
    }
    .subtitle .anima{
        font-size: 4em;
        margin-top: -65px;
    }
    .subtitle .tions{
        font-size: 4em;
        margin-top: -65px;
    }
}
@media screen and (min-width: 399px){
    body .section{
        height: 80vh;
    }
    .container{
        max-width: 400px;
    }
    .nav ul{
        width: 300px;
        margin-left: auto;
        margin-right: 0px;
    }
    .title .shamblen{
        font-size: 4em;
    }
    .title .amy{
        font-size: 4em;
        margin-top: -65px;
    }
    .content {
        /* display: none; */
        height: 50vh;
        margin-top: -30px;
    }
    .subtitle{
        margin-top: -20px;
    }
    .subtitle .bespoke{
        font-size: 4em;
        margin-top: 0px;
    }
    .subtitle .photo{
        font-size: 4em;
        margin-top: -65px;
    }
    body .svg_line {
        margin-top: -42px;
        width: 95px;
        margin-left: 5px;
    }
    .subtitle .graphy{
        font-size: 4em;
        margin-top: -65px;
        margin-left: auto;
    }
    .subtitle .anima{
        font-size: 4em;
        margin-top: -65px;
    }
    .subtitle .tions{
        font-size: 4em;
        margin-top: -65px;
    }
}
@media screen and (min-width: 699px){
    body .section{
        height: 80vh;
    }
    .container{
        max-width: 690px;
    }
    .nav ul{
        width: 300px;
        margin-left: auto;
        margin-right: 0px;
    }
    .title .shamblen{
        font-size: 8em;
    }
    .title .amy{
        font-size: 8em;
        margin-top: -135px;
    }
    .content {
        /* display: none; */
        height: 50vh;
        padding-top: 80px;
    }
    .subtitle{
        margin-top: -30px;
    }
    .subtitle .bespoke{
        font-size: 8em;
        margin-top: 0px;
    }
    .subtitle .photo{
        font-size: 8em;
        margin-top: -145px;
    }
    body .svg_line {
        margin-top: -82px;
        width: 150px;
        margin-left: 5px;
    }
    .subtitle .graphy{
        font-size: 8em;
        margin-top: -145px;
        margin-left: auto;
    }
    .subtitle .anima{
        font-size: 8em;
        margin-top: -145px;
    }
    .subtitle .tions{
        font-size: 8em;
        margin-top: -145px;
    }
}
@media screen and (min-width: 1000px) {
    body .section{
        height: 140vh;
    }
    .container{
        max-width: 1000px;
    }
    .nav ul{
        width: 300px;
        margin-left: auto;
        margin-right: 0px;
    }
    .title .shamblen{
        font-size: 11em;
    }
    .title .amy{
        font-size: 11em;
        margin-top: -175px;
    }
    .content {
        height: 100vh;
        padding-top: 80px;
    }
    .subtitle{
        margin-top: 90px;
    }
    .subtitle .bespoke{
        font-size: 11em;
        margin-top: 0px;
    }
    .subtitle .photo{
        font-size: 11em;
        margin-top: -195px;
    }
    body .svg_line {
        margin-top: -100px;
        width: 230px;
        margin-left: 10px;
    }
    .subtitle .graphy{
        font-size: 11em;
        margin-top: -195px;
        margin-left: auto;
    }
    .subtitle .anima{
        font-size: 11em;
        margin-top: -195px;
    }
    .subtitle .tions{
        font-size: 11em;
        margin-top: -195px;
    }
}

@media screen and (min-width: 1199px){
    .container{
        min-width: 1200px;
    }
    .nav{
        width: 400px;
    }
    .content{
        margin-top: -200px;
    }
    .title .shamblen{
        font-size: 14em;
    }
    .title .amy{
        font-size: 14em;
        margin-top: -250px;
    }
    .subtitle{
        margin-top: 200px;
    }
    .subtitle .bespoke{
        font-size: 14em;
    }
    .subtitle .photo{
        font-size: 14em;
        margin-top: -250px;
    }
    .subtitle .graphy{
        font-size: 14em;
        margin-top: -250px;
    }
    body .svg_line  {
        margin-top: -120px;
    }
    .subtitle .anima{
        font-size: 14em;
        margin-top: -250px;
    }
    .subtitle .tions{
        font-size: 14em;
        margin-top: -250px;
    }
}

@media screen and (max-width: 900px){
    .cursor{
        display: none;
    }
}





